.loader-div {
	display: flex;
	justify-content: center;
    align-items: center;
    >span{
        height: 40px;
        margin-right: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

