* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	width: 100%;
	padding: 0px 5%;
	display: flex;
	justify-content: center;
}

.left {
	margin: 20px 0px;
	height: 98vh;
	max-width: 300px;
	border: solid 1px rgba(255, 255, 255, 0.21);
	border-radius: 10px;
	background: rgba(103, 103, 140, 0.16);
}
.right {
	width: 100%;
	margin: 20px 0px;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.data-container {
	margin: 10px;
	border: 1px solid rgba(255, 255, 255, 0.304);
	padding: 20px 10px;
	border-radius: 10px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	> div {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 50%;
		> img {
			border-radius: 10px;
		}
		> p {
			background-color: black;
			height:100px;
			width: 100%;
		}
	}
}
@media only screen and (max-width: 500px) {
	.container {
		flex-direction: column;
	}
	.data-container {
		flex-direction: column;
	}
}
