.bottom {
	background-color: rgb(46, 46, 46);
	display: flex;
	position: fixed;
	bottom: 0px;
	left: 0px;
	justify-content: space-around;
	height: 60px;

	> div {
		width: 150px;
		display: flex;
		justify-content: center;
		align-items: center;
		> p {
			background: transparent;
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 10px;
			color: white;
			padding: 10px 20px;
			border-radius: 10px;
			font-family: "Roboto";
			transition: 0.5s;
			&:hover {
				background-color: white;
				color: #242424;
			}
		}
	}
}
