* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
	
}

div {
	.form-container {
		width: 100%;

		form {
			height: 340px;
			width: 100%;
			text-align: center;

			> label {
				> h3 {
					padding: 10px 0px;
                    cursor: pointer;
				}
			}

			img {
				width: 90%;
				display: block;
				margin: auto;
                border-radius: 10px;
                border: 2px solid white;
				margin-top: 20px;
				margin-bottom: 20px;
				max-height: 330px;
				object-fit: cover;
				margin-bottom: 20px;
			}
            > h3 {
                padding: 10px 0px;
               
            }
			.caption {
				width: 90%;
				height: 150px;
                border-radius: 10px;
				background: transparent;
                border: 1px solid rgba(255, 255, 255, 0.248);
				outline: none;
				color:white;
				font-size: 16px;
                text-align: left;
                padding: 10px;
				background-color: #2424249a;
			}
			.submit {
				background: transparent;
                color: white;
                padding: 10px 20px;
                width: 70%;
                border: 2px solid white;
                border-radius: 20px;
                margin: 10px 0px;
                transition: 0.3s;
                font-size: 18px;
                cursor: pointer;
                &:hover{
					background-color: rgba(27, 180, 40, 0.829);
					color: white;
					border: solid 2px transparent;
                }
			}
		}
	}
}

@media only screen and (max-width: 700px) {

	div .form-container form {
		width: 300px;
	}
}

@media (prefers-color-scheme: light) {
	div .form-container form {
		img{
			border: 2px solid rgba(8, 8, 8, 0.404);
		}
		.caption{
			border: 1px solid rgba(8, 8, 8, 0.404);
			background-color: rgba(30, 28, 28, 0.16);
            color:black;
		}
		.submit{
			border: 2px solid rgba(8, 8, 8, 0.404);
            color: rgba(0, 0, 0, 0.607);
			&:hover{
				background-color: rgba(31, 81, 35, 0.829);
				color: white;
				border: solid 2px transparent;

			}
		}
	}
}
